
#imgdiv{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

#btndiv{
    position: absolute;
    left: 50%;
    top:25%;
    transform: translateX(-50%);
}

#btn1{
    position: relative;
    top: 247px;
    right: 165px;
}

#btn2{
    position: relative;
    top: 345px;
    right: 85px;
}

#btn3{
    position: relative;
    top: 88px;
    right: -38px;
}

#btn4{
    position: relative;
    top: 385px;
    right: -78px;
}

#btn5{
    position: relative;
    top: 185px;
    right: -145px;
}

#btn6{
    position: relative;
    top: 205px;
    right: 88px;
}

#btn7{
    position: relative;
    top: 185px;
    right: -205px;
}

#btn8{
    position: relative;
    top: 88px;
    right: 260px;
}

#btn9{
    position: relative;
    top: 281px;
    right: 27px;
}

#code{
    position: absolute;
    left: 50%;
    top:80%;
    transform: translateX(-50%);
    FONT-FAMILY: Verdana;
    color: white;
}

#ImagePillar
{
    border-radius: 10px;
}

.btn
{
    transition: 200ms;
    transition: background-color 200ms;
}

.btn:hover
{
    scale :1.5;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    background-color: whitesmoke;
}

.btn:active
{
    background-color: black;
}

body
{
    background:     radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(207, 207, 207, 1) 81%, rgba(255, 255, 255, 1) 100%);
}

