#imgDiv
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
}

#img
{
    border-radius: 10px;
}

body
{
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(207, 207, 207, 1) 81%, rgba(255, 255, 255, 1) 100%);
}
